:root {
    --white: #fff;
    --black: #000;
    --primary: #024698;
    --primary-alt: #122657;
    --error: #da2f58;
    --error-alt: #a61e3e;
    --secondary: #f0f2f8;
    --secondary-alt: #e1e6ef;
    --error-secondary: #fcebef;
    --error-secondary-alt: #f3cbd4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 1em 0 0.25em 0;
}

#app {
    color: var(--text);
    background: var(--background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Segoe UI',
    Roboto,
    Ubuntu,
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app:not(.dark) {
    --text: rgb(44, 62, 80);
    --textlight: rgba(44, 62, 80, 0.5);
    --complement: #fff;

    --background: #f8f8f8;
    --background-transparent: rgba(255,255,255,.9);

    --light-shadow: rgba(0, 0, 0, .15) 0px 0px 20px;
    --shadow: rgba(0, 0, 0, .15) 0px 0px 5px, rgba(0, 0, 0, .25) 0px 0px 20px;
}

#app.dark {
    --text: rgb(241, 241, 241);
    --textlight: rgba(241, 241, 241, 0.5);
    --complement: #000;

    --background: #0e1117;
    --background-transparent: rgba(0,0,0,.8);

    --light-shadow: rgba(255, 255, 255, .1) 0px 0px 20px;
    --shadow: rgba(255, 255, 255, .15) 0px 0px 5px, rgba(255, 255, 255, .25) 0px 0px 20px;
}
